* {
    padding: 0;
    margin: 0;
  }

  body {
    background-color: rgb(36, 34, 34);
  }
  .nav {
    height: 20vh;
    display: inline-flex;
  }

  ul {
    display: flex;
    list-style: none;
    justify-content: end;
    gap: 30px;
    margin-left: 250px;
    margin-top: 40px;
  }
  li {
    color: white;
    margin: 20px;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
  }
  .sidelogo {
    color: white;
    position: relative;
    font-size: 25px;
    left: 6vw;
    display: inline-flex;
    margin-top: 58px;
  }

  img {
    height: 50px;
    position: relative;
    left: 0%;
    bottom: 5px;
  }

  a:link {
    color: white;
    text-decoration: none;
  }
  a {
    color: white;
  }
  a:hover {
    color: goldenrod;
  }
  .aboutus {
    width: auto;
    height: 80vh;
    background-color: black;
    justify-content: center;
  }
  .aboutus P:nth-child(1) {
    text-align: center;

    color: white;
    font-size: 48px;
    line-height: 62px;
    font-weight: 100;
    font-style: normal;
    font-family: "Segoe UI";
    padding-top: 2%;
  }
  .aboutus p:nth-child(2) {
    /* text-align: center; */
    font-size: 20px;
    font-family: "Segoe UI";
    line-height: 31px;
    font-style: normal;
    padding-top: 5%;
    color: white;
    margin-left: 10%;
    margin-right: 10%;
  }
  .aboutus p:nth-child(3) {
    /* text-align: center; */
    font-size: 12px;
    font-family: "Segoe UI";
    line-height: 24px;
    font-style: normal;
    padding-top: 2%;
    color: white;
    margin-left: 10%;
    margin-right: 10%;
  }
  .boxes {
text-align: center;
padding: 2em;
background-color: #ffffff;
}



.features {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}

.feature {
background: #ffffff;
border: 1px solid #ddd;
border-radius: 8px;
padding: 1.5em;
margin: 1em;
width: 250px;
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);

}

.feature img {
width: 50px;
height: 50px;
}

.feature h2 {
font-size: 1.2em;
margin: 0.5em 0;
position: relative;
top: -15px;
}

.feature p {
font-size: 1em;
color: #000000;
position: relative;
top: -10px;

}
.ref {
color: rgb(80, 75, 75);
position: relative;
top: 10px;
font-size: 0.9em;

}
button {
height: 40px;
width: 200px;
position: relative;

top: 10px;
border-radius: 15px;
border: 2px solid white;
background-color: black;
color: rgb(255, 255, 255);
font-size: 16px;
font-weight: bold;
cursor: pointer;
transition: all 0.3s ease-in-out;
box-shadow: 0px 5px 10px rgba(218, 165, 32, 0.3);
}
button:hover {
background-color: white;
color: black;
transform: scale(1.05);
box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.5);
border: 2px solid black;
}
.email-section {
    background-color: #ffffff;
    padding: 2em;
    text-align: center;
    margin: 2em 0;
    
  }

  .email-section h2 {
    font-size: 1.5em;
    color: black;
    margin-bottom: 1em;
  }

  .email-section p {
    color: #333;
    margin-bottom: 1em;
  }

  .email-section input[type="email"] {
    padding: 10px;
    width: 250px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
  }
  .footer {


height: 23vh;
background-color: black;
width: 100%;
display: flex;
position: relative;

margin-top:   10vh;

}






.footer img {
height: 50px;
position: relative;
left: 10%;
top: 19%;

}
.footer p {
color: white;
}
.images {
position: relative;
left: 400px;
top: 20px;

}
.images img {
transition: all 0.3s ease-in-out;
}
.images img:hover{
transform: scale(1.2);
box-shadow: 0px 10px 20px goldenrod;
border-radius: 50%;
transition-duration: 0.1ms;

}