*{
    padding: 0;
    margin: 0;
}
html, body {
overflow-x: hidden;
}
body {
    background-color: rgb(36, 34, 34);
    
    
}
.nav {
    height: 20vh;
    display: inline-flex;
    
   
    
}

ul {
    display: flex;
    list-style: none;
    justify-content: end;
    gap: 30px;
    margin-left: 250px;
    margin-top: 40px;
   
    
}
li {
    color: white;
    margin: 20px;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    
}
.sidelogo {
    color: white;
    position: relative;
    font-size: 25px;
    left: 6vw;
    display: inline-flex;
    margin-top: 58px
    
}

img {
    height: 50px;
    position: relative;
    left: 0%;
    bottom: 5px;
    
}

a:link {
    color: white;
    text-decoration: none;

}
a {
    color: white;
}
a:hover  {
    color: goldenrod;
   
}
.intro {
    background-color: black;
    height: 60vh;
    display: flex;
}
.para {
    color: white;
    position: relative;
    top: 130px;
    right: 200px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.tv-container {
        position: relative;
        width: 450px;
        top: 10px;
        
        
    }
    

    .tv-container img {
        width: 100%;
        display: block;
        height: 350px;
        z-index: 1;
    }
    .tv-container video {
        position: absolute;
        top: 16%;
        left: 13%;
        width: 73%;
        height: 58%;
        object-fit: cover;
        border-radius: 10px;
    }
    .line1 {
        height: 10vh;
        background-color: goldenrod;
        justify-items: center;
        align-content: center;
        color: black;
        text-align: center;
    }
    .line2 {
        height: 130vh;
    }
   
.line2 h2 {
  color: #fff;
  margin-bottom: 20px;
  
  position: relative;

  margin-top: 5px;
  text-align: center;
}
.line2 h2 span {
  color: goldenrod;
  font-size: 40px;
  
}
.line2 p {
  color: #fff;
  margin-bottom: 20px;
  font-size: 23px;
  position: relative;
 
  line-height: 1.5;
  margin-top: 20px;
  text-align: center;
}
.content {
    display: flex;
    gap: 20px;
    
}

.ai-img img {
    height: 100vh;
    width: 40vw;
    position: relative;
    left: 100px;
    top: 40px;
    box-shadow:0px 10px 20px rgba(218, 165, 32, 0.5) ;
    border: 2px solid goldenrod;
}
.text p{
    font-size: smaller;
    position: relative;
    left: 150px;
    font-size: small;
    color: rgb(255, 255, 255);
    top: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.text h3 {
    color: white;
    position: relative;
    left: 320px;
    top: 50px;
    font-size: 30px;
    
}
.content .text ul {
  margin-bottom: 20px;
  padding-left: 20px; 
  flex-direction: column;
  margin-top: 100px;
  margin-left: 220px;

}
.content .text li {
  
  font-size:large;
  color: goldenrod;
  text-shadow: 0px 2px 10px goldenrod; ;
  

  
}
ul img {
transition: all 0.3s ease-in-out;
}



.text li {
    margin-bottom: -40px;
}
.portability {
    height: 50vh;
    background-color: white;
    justify-items: center;


}
.portability h2 {
    color: black;
    position: relative;
    top: 30%;

}
 button  {
height: 40px;
width: 200px;
position: relative;
left: 200px;
top: 30px;
border-radius: 15px;
border: none;
background-color: goldenrod;
color: black;
font-size: 16px;
font-weight: bold;
cursor: pointer;
transition: all 0.3s ease-in-out;
box-shadow: 0px 5px 10px rgba(218, 165, 32, 0.3);
}

button:hover {
background-color: rgb(218, 165, 32);
color: white;
transform: scale(1.05);
box-shadow: 0px 10px 20px rgba(218, 165, 32, 0.5);
}
.portability {
text-align: center;
padding: 2em;
/* background-color: #ffffff; */
}

.portability h1 {
font-size: 1.8em;
margin-bottom: 1.5em;
font-weight: bold;
}

.features {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}

.feature {
background: #ffffff;
border: 1px solid #ddd;
border-radius: 8px;
padding: 1.5em;
margin: 1em;
width: 250px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
animation: colorChange 2.5s infinite ease;
}
@keyframes colorChange {
        0% {
             background-color: #ffffff;
              
            }
        50% {
             background-color: goldenrod;
             }
        100% {
             background-color: #ffffff; 
            }
    }
.feature:nth-child(1) {
        animation-delay: 0s;
    }
    .feature:nth-child(2) {
        animation-delay: 1s; 
    }
    .feature:nth-child(3) {
        animation-delay: 1.7s; 
    }

.feature img {
width: 50px;
height: 50px;
}

.feature h2 {
font-size: 1.4em;
margin: 0.5em 0;
position: relative;
top: -15px;
}

.feature p {
font-size: 1em;
color: #666;
}

.btn1:hover {
background-color: white;
color: black;
transform: scale(1.05);
box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.5);
}
.btn1 {
height: 40px;
width: 200px;
position: relative;
left: 200px;
top: 30px;
border-radius: 15px;
border: 2px solid white;
background-color: black;
color: rgb(255, 255, 255);
font-size: 16px;
font-weight: bold;
cursor: pointer;
transition: all 0.3s ease-in-out;
box-shadow: 0px 5px 10px rgba(218, 165, 32, 0.3);
}
.faq {
    background-color: black;
    color: white ;
}
.faq h2 {
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
    font-family: "Martel Sans", sans-serif;
}

.faqbox {
display: flex;
flex-direction: column; 
background-color: rgb(44, 42, 42);
padding: 24px;
max-width: 90%; 
margin: 8px auto;
color: white;
font-size: 24px;
font-family: "Martel Sans", sans-serif;
transition: all 0.3s ease-in-out;
position: relative;
overflow: hidden; 
justify-items: center;
}

.faq-content {
max-height: 0;
overflow: hidden; 
transition: max-height 0.5s ease; 
background-color: rgba(255, 255, 255, 0.1); 
padding: 0 20px; 

flex-grow: 1;
}

.faq-content ul {
list-style-type: disc; 
padding-left: 20px; 
margin: 10px ; 

}

.faqbox:hover .faq-content {
max-height: 200px; 

padding: 10px 20px; 
}

.faqbox svg {
margin-top: 10px;
align-self: flex-end; 

transition: transform 0.3s ease;
}

.faqbox:hover svg {
transform: rotate(90deg); 
}
.faqbox:hover {
  background-color: rgb(64, 60, 60);
  
}
.faq-content ul li a {
    flex-direction: row;
}
.footer {


height: 23vh;
background-color: black;
width: 100%;
display: flex;
position: relative;

margin-top:   10vh;

}






.footer img {
height: 50px;
position: relative;
left: 10%;
top: 19%;

}
.footer p {
color: white;
}
.images {
position: relative;
left: 400px;
top: 20px;

}
.images img {
transition: all 0.3s ease-in-out;
}
.images img:hover{
transform: scale(1.2);
box-shadow: 0px 10px 20px goldenrod;
border-radius: 50%;
transition-duration: 0.1ms;

}