html {
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
}
body {
    background-color: rgb(36, 34, 34);
    
    
}
.nav {
    height: 25vh;
    display: inline-flex;
   
    
}

ul {
    display: flex;
    list-style: none;
    justify-content: end;
    gap: 30px;
    margin-left: 250px;
    margin-top: 60px;
   
    
}
li {
    color: white;
    margin: 20px;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    
}
.sidelogo {
    color: white;
    position: relative;
    font-size: 25px;
    left: 6vw;
    display: inline-flex;
    margin-top: 68px
    
}

img {
    height: 50px;
    position: relative;
    left: 0%;
    bottom: 5px;
    
}

a:link {
    color: white;
    text-decoration: none;

}
a {
    color: white;
}
a:hover  {
    color: goldenrod;
   
}

.body img {
    width: 50px;
    height: 50px;
    position: relative;
    left: 80px;
    top: 50px;
}


    

.body p {
    color: white;
    position: relative;
    
    display: inline-flex;
    top: 33px;
    left: 85px;
    
}
.maincontent {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 400px 400px 500px;
    grid-template-rows: 200px 200px 200px ;
    position: relative;
    right: 30px;

}
.box {
    width: 300px;
    height: 200px;
    background-color: rgb(70, 67, 67);
    position: relative;
    left: 60px;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
   
    
    
}
.box:hover{
    transform: scale(1.1); 
    border-radius: 7%;
    transition: transform 0.2s ease-in-out, border-radius 0.1s ease-in-out, border 0.2s ease-in-out , box-shadow 0.2s ease-in-out;
    border: 2px solid goldenrod ;
    box-shadow: 0px 5px 10px goldenrod;
}
.lan1 {
    position: relative;
    left: 120px;
    bottom: 20px;

}
.lan2 {
    position: relative;
    bottom: 20px;
    left: 120px;
    right: 5px;
}
.lan3 {
    position: relative;
    bottom: 20px;
    left:120px ;

}
.lan4 {
    position: relative;
    left: 120px;
    bottom: 20px;
    top: 20px;

}
.lan5 {
    position: relative;
    bottom: 20px;
    left: 120px;
    right: 5px;
    top: 20px;
}
.lan6 {
    position: relative;
    bottom: 20px;
    left: 120px;
    top: 20px;
}
.lan7 {
    position: relative;
    left: 120px;
    bottom: 20px;
    top: 60px;

}
.lan8 {
    position: relative;
    bottom: 20px;
    left: 120px;
    right: 5px;
    top: 60px;
}
.lan9 {
    position: relative;
    bottom: 20px;
    left: 120px;
    top: 60px;
}

.word {
    color: goldenrod;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size:xx-large;
    text-decoration-thickness: 2px;
    font-size: x-large;
    
}
.word2 {
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: smaller;

} 
button {
    height: 40px;
    width: 200px;
    position: relative;
    left: 50px;
    top: 70px;
    border-radius: 15px;
    border: none;
    background-color: goldenrod;
    color: black;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 5px 10px rgba(218, 165, 32, 0.3);
}

button:hover {
    background-color: rgb(218, 165, 32);
    color: white;
    transform: scale(1.05);
    box-shadow: 0px 10px 20px rgba(218, 165, 32, 0.5);
}

.extrasection {
    height: 43vh;
    background-color: black;
    margin-top: 170px;
    justify-items: center;
    color: white;

}
.extrasection p {
    position: relative;
    top: 50px;
    font-size: x-large;
}
.extrasection h1 {
    position: relative;
    top: 70px;
}


    


.footer {
    
    
    height: 23vh;
    background-color: black;
    width: 100%;
    display: flex;
   position: relative;
  
    margin-top:   auto;
    
}

    
    



.footer img {
    height: 50px;
    position: relative;
    left: 10%;
    top: 19%;
    
}
.footer p {
    color: white;
}
.images {
    position: relative;
    left: 350px;
    top: 20px;
    
}
.images img {
    transition: all 0.3s ease-in-out;
}
.images img:hover{
    transform: scale(1.2);
    box-shadow: 0px 10px 20px goldenrod;
    border-radius: 50%;
    transition-duration: 0.1ms;
   
}
.scroll{
    width: 10%;
    height: 20%;
    color: goldenrod;
    color: white;
    position: relative;
    left: 39%;
    margin-bottom: 140px;
    
}
