* {
    padding: 0;
    margin: 0;
  }
  html,
  body {
    overflow-x: hidden;
  }
  body {
    background-color: rgb(36, 34, 34);
  }
  .nav {
    height: 20vh;
    display: inline-flex;
  }

  ul {
    display: flex;
    list-style: none;
    justify-content: end;
    gap: 30px;
    margin-left: 250px;
    margin-top: 40px;
  }
  li {
    color: white;
    margin: 20px;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
  }
  .sidelogo {
    color: white;
    position: relative;
    font-size: 25px;
    left: 6vw;
    display: inline-flex;
    margin-top: 58px;
  }

  img {
    height: 50px;
    position: relative;
    left: 0%;
    bottom: 5px;
  }

  a:link {
    color: white;
    text-decoration: none;
  }
  a {
    color: white;
  }
  a:hover {
    color: goldenrod;
  }
  .para {
    max-width: 100vw;

    padding: 20px;
    background-color: #000;
    color: white;
  }

  .hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px 0;
    color: white;
  }

  .text-container {
    max-width: 600px;
  }

  .text-container h1 {
    font-size: 36px;
  }

  .highlight {
    color: #ffd700;
    font-weight: bold;
  }

  .text-container ul {
    list-style-type: none;
    padding: 0;
    position: relative;
    left: -250px;
    /* flex-direction: row; */
    flex-wrap: wrap;
  }

  .text-container ul li {
    margin-top: -20px;
    list-style-type: disc;
    
  }

  .buttons {
    margin-top: 20px;
  }

  .request-info,
  .request-quote {
    background-color: #ffd700;
    color: #000;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 16px;
  }

  .request-info:hover,
  .request-quote:hover {
    background-color: #ffc107;
  }

  .learn-more {
    margin-top: 20px;
    color: #ffd700;
  }

  .image-container img {
    max-width: 400px;
    height: auto;
  }
  button {
    border-radius: 15px;
    border: none;
    background-color: goldenrod;
    color: black;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 5px 10px rgba(218, 165, 32, 0.3);
  }

  button:hover {
    background-color: rgb(218, 165, 32);
    color: white;
    transform: scale(1.05);
    box-shadow: 0px 10px 20px rgba(218, 165, 32, 0.5);
  }
  .request-quote {
    border-radius: 15px;
    border: 2px solid white;
    background-color: black;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 5px 10px rgba(218, 165, 32, 0.3);
  }
  .request-quote:hover {
    background-color: white;
    color: black;
    transform: scale(1.05);
    box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.5);
  }
  .line1 {
    height: 10vh;
    background-color: rgb(36, 34, 34);

    color: rgb(255, 251, 251);
    text-align: center;
    display: flex;
    margin-bottom: 40px;
  }
  .line1 h2 {
    position: relative;
    left: 11%;
    top: 50%;
  }
  .licensing {
    background-color: rgb(225, 220, 220);

    height: 100vh;
  }
  .content {
    max-width: 1100px;
  }

  .content-img img {
    width: 80vw;
    height: 25vh;
    position: relative;
    top: 50px;
    left: 14%;
  }
  .content h3 {
    position: relative;
    font-size: 28px;
    line-height: 42px;
    font-weight: 500;
    top: 70px;
    left: 14%;
  }
  .content p {
    position: relative;
    top: 70px;
    left: 14%;
    margin-top: 30px;
    font-size: small;
  }
  .content ul {
list-style-type: none; 
padding-left: 0;
position: relative ;
top: 70px;
}

.content ul li {
margin: 30px 0px;
color: #000;


}
.flexibility
{
    background-color: rgb(191, 191, 191);

    height: 80vh;
  }
  .flex-img img {
    width: 40vw;
    height: 40vh;
    position: relative;
    top: 100px;
    left: 35%;
  }
  .footer {


height: 23vh;
background-color: black;
width: 100%;
display: flex;
position: relative;

margin-top:   10vh;

}






.footer img {
height: 50px;
position: relative;
left: 10%;
top: 19%;

}
.footer p {
color: white;
}
.images {
position: relative;
left: 400px;
top: 20px;

}
.images img {
transition: all 0.3s ease-in-out;
}
.images img:hover{
transform: scale(1.2);
box-shadow: 0px 10px 20px goldenrod;
border-radius: 50%;
transition-duration: 0.1ms;

}